# Python summary part 1

## Data types

In [7]:
name = "Jalle"
age = "20"
loves_math = True

name

'Jalle'

In [8]:
print(name)

Jalle

In [10]:
print(f"My name is {name}, I am {age} years old.\nDo I love math: {loves_math}")

My name is Jalle, I am 20 years old.
Do I love math: True

In [14]:
type(name), type(age), type(loves_math)

(str, str, bool)

In [15]:
print(type(name))

<class 'str'>

In [19]:
print(f"{type(age) = }")

type(age) = <class 'str'>

## Collection types
- dictionary
- list
- tuple
- set

### list

In [23]:
# list of 4 strings
interests = ["tennis", "fotball", "programming", "math"]

# list of different data types
person = ["Jalle", 20, True]

interests

['tennis', 'fotball', 'programming', 'math']

In [24]:
person

['Jalle', 20, True]

In [25]:
type(person[1])

int

In [26]:
person.append(interests)

In [27]:
person

['Jalle', 20, True, ['tennis', 'fotball', 'programming', 'math']]

accessing list

In [28]:
person[0]

'Jalle'

In [31]:
person[-1]

['tennis', 'fotball', 'programming', 'math']

In [32]:
person[-1][0]

'tennis'

slicing a list

In [40]:
person[1:2]

[20]

In [41]:
person[1:3]

[20, True]

In [42]:
person[:]

['Jalle', 20, True, ['tennis', 'fotball', 'programming', 'math']]

In [43]:
person

['Jalle', 20, True, ['tennis', 'fotball', 'programming', 'math']]

In [44]:
person[0:]

['Jalle', 20, True, ['tennis', 'fotball', 'programming', 'math']]

In [45]:
person[1:]

[20, True, ['tennis', 'fotball', 'programming', 'math']]

In [46]:
person[::-1]

[['tennis', 'fotball', 'programming', 'math'], True, 20, 'Jalle']

interating over lists
- for 
- while

In [48]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# list comprehension
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
odd_numbers = [number for number in numbers if number % 2]
odd_numbers

[1, 3, 5, 7, 9]

In [53]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

In [59]:
# mutating the list
squares[5] = "125"
squares

[0, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [60]:
hex(id(squares))

'0x193a38e9680'

In [62]:
squares[0] = True
squares

[True, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [63]:
hex(id(squares))

'0x193a38e9680'

### tuple
- immutable collection

In [67]:
numbers = tuple(i for i in range(10))
numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [68]:
type(numbers)

tuple

In [69]:
numbers[4]

4

In [70]:
numbers[5:-2]

(5, 6, 7)

In [72]:
# can't mutate a tuple
numbers[5] = 125

TypeError: 'tuple' object does not support item assignment

In [73]:
squares = tuple(number**2 for number in numbers)
squares

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [74]:
type(squares)

tuple

In [75]:
hex(id(numbers)), hex(id(squares)) # diff memory addresses, not the same object

('0x193a32de740', '0x193a3200240')

### set 
- unique collection

In [78]:
import random as rnd

dices = [rnd.randint(1,6) for _ in range (20)]
dices

[1, 3, 6, 5, 1, 4, 2, 3, 5, 5, 5, 6, 4, 6, 4, 6, 2, 6, 3, 4]

In [81]:
unique_dices = set(dices)
unique_dices

{1, 2, 3, 4, 5, 6}

In [82]:
unique_dices[0]

TypeError: 'set' object is not subscriptable

In [83]:
set2 = {1,2,3,10,15}
set2

{1, 2, 3, 10, 15}

In [85]:
unique_dices

{1, 2, 3, 4, 5, 6}

In [87]:
unique_dices.intersection(set2), unique_dices & set2

({1, 2, 3}, {1, 2, 3})

In [90]:
unique_dices | set2, unique_dices.union(set2)

({1, 2, 3, 4, 5, 6, 10, 15}, {1, 2, 3, 4, 5, 6, 10, 15})

### dictionary

- key:value pair

In [91]:
person1 = dict(name = "Jalle", age = 20, loves_math = True)
person1

{'name': 'Jalle', 'age': 20, 'loves_math': True}

In [92]:
person2 = {"name": "Jalle", "age": 20, "loves_math": True}
person2

{'name': 'Jalle', 'age': 20, 'loves_math': True}

In [93]:
person1 == person2

True

In [95]:
hex(id(person1)), hex(id(person2))

('0x193a370e140', '0x193a3954ec0')

In [96]:
hex(id(person1)) == hex(id(person2))

False

interating through dictionary

In [97]:
for key in person1:
    print(key)

name
age
loves_math

In [98]:
for key in person1:
    print(person1[key])

Jalle
20
True

In [99]:
person1["name"]

'Jalle'

In [103]:
for key, val in person1.items():
    print(f"{key:<15} {val}")

name            Jalle
age             20
loves_math      True

dictionary comprehension

In [107]:
ml_terms = {
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation",
}

ml_explanations = {
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly.",
}

glossary = {
    term.lower(): explanation.lower()
    for term, explanation in zip(ml_terms, ml_explanations)
}
glossary

{'supervised learning': 'enhances input features for models.',
 'cross-validation': 'learns from labeled data.',
 'feature engineering': 'evaluates model performance robustly.',
 'overfitting': 'model fits training data too closely.',
 'unsupervised learning': 'finds patterns in unlabeled data.'}

In [108]:
glossary["supervised learning"]

'enhances input features for models.'