## OOP

In [2]:
class Admission:
    def __init__(self, school, program, name, accept) -> None:
        self.school = school
        self.program = program
        self.name = name
        self.accept = accept

student1 = Admission("Cool school", "AI", "Jonas", True)
student1

In [3]:
hex(id(student1))

'0x204fcbe6910'

In [5]:
student1.program, student1.name, student1.accept

('AI', 'Jonas', True)

In [7]:
student1.program = "data engineer"
student1.program

'data engineer'

In [12]:
student2 = Admission(name = "Gore board", school="Anota cool schooluuu", accept=True, program = "Javaaaa")
student2

In [13]:
hex(id(student2)) == hex(id(student1))

False

### \_\_repr\_\_

In [16]:
class Admission:
    def __init__(self, school, program, name, accept) -> None:
        self.school = school
        self.program = program
        self.name = name
        self.accept = accept
    
    def __repr__(self) -> str:
        return f"Admission({self.school, self.program, self.name, self.accept})"
    
student1 = Admission("Cool school", "AI", "Jonas", True)
student1

Admission(('Cool school', 'AI', 'Jonas', True))

In [17]:
print(student1)

Admission(('Cool school', 'AI', 'Jonas', True))

In [19]:
class Admission:
    def __init__(self, school, program, name, accept) -> None:
        self.school = school
        self.program = program
        self.name = name
        self.accept = accept
    
    def __repr__(self) -> str:
        return f"Admission({self.school, self.program, self.name, self.accept})"
    
    def __str__(self) -> str:
        return f"Student {self.name}, admitted to program {self.program}"
    
student1 = Admission("Cool school", "AI", "Jonas", True)
student1

Admission(('Cool school', 'AI', 'Jonas', True))

In [20]:
str(student1)

'Student Jonas, admitted to program AI'

In [21]:
print(student1)

Student Jonas, admitted to program AI

## Encapsulation

In [23]:
class Patient:
    def __init__(self, name, diagnosis) -> None:
        self.name = name
        self._diagnosis = diagnosis
    
patient1 = Patient("Gore board", "Migraine")
patient1

In [24]:
patient1.name

'Gore board'

In [25]:
patient1._diagnosis

'Migraine'

In [26]:
class Patient:
    def __init__(self, name, diagnosis) -> None:
        self.name = name
        self.__diagnosis = diagnosis
    
patient1 = Patient("Gore board", "Migraine")
patient1

In [28]:
patient1.__dict__

{'name': 'Gore board', '_Patient__diagnosis': 'Migraine'}

In [29]:
patient1._Patient__diagnosis

'Migraine'

## Property and documentation

In [30]:
class Student:
    def __init__(self, name: str, age: int, active: bool) -> None:
        self._name = name
    
    @property
    def name(self) -> str:
        return self._name
    
s1 = Student("gore board", 54, True)
s1.name

'gore board'

In [31]:
s1.name = "anna"

AttributeError: property 'name' of 'Student' object has no setter

In [36]:
from numbers import Number

class Student:
    def __init__(self, name: str, age: int, active: bool) -> None:
        self._name = name
        self.age = age

    @property
    def name(self) -> str:
        return self._name
    
    @property
    def age(self) -> int: 
        return self._age
    
    @age.setter
    def age(self, value) -> None:
        if not isinstance(value, Number):
            raise TypeError(f"Age must be either int or float not {type(value)}")
        self._age = value

        if not (0 < value < 125):
            raise ValueError(f"Age must be between 1 and 124, not {value}")
        
        self._age = value

s1 = Student("gore board", 54, True)
s1.age

54

In [37]:
s1 = Student("gore board", 155, True)

ValueError: Age must be between 1 and 124, not 155

In [38]:
from numbers import Number

class Student:

    number_students = 0
    def __init__(self, name: str, age: int, active: bool) -> None:
        self._name = name
        self.age = age
        Student.number_students += 1

    @property
    def name(self) -> str:
        return self._name
    
    @property
    def age(self) -> int: 
        return self._age
    
    @age.setter
    def age(self, value) -> None:
        if not isinstance(value, Number):
            raise TypeError(f"Age must be either int or float not {type(value)}")
        self._age = value

        if not (0 < value < 125):
            raise ValueError(f"Age must be between 1 and 124, not {value}")
        
        self._age = value

s4 = Student("Jalle", 15, True)
s5 = Student("Jalle", 15, True)
s6 = Student("Jalle", 15, True)
s6.number_students

3

In [39]:
from numbers import Number

class Student:
    """Student class for representing students with name, age, active"""

    number_students = 0
    def __init__(self, name: str, age: int, active: bool) -> None:
        self._name = name
        self.age = age
        Student.number_students += 1

    @property
    def name(self) -> str:
        """Read only property, can't set name"""
        return self._name
    
    @property
    def age(self) -> int: 
        return self._age
    
    @age.setter
    def age(self, value: Number) -> None:
        if not isinstance(value, Number):
            raise TypeError(f"Age must be either int or float not {type(value)}")
        self._age = value

        if not (0 < value < 125):
            raise ValueError(f"Age must be between 1 and 124, not {value}")
        
        self._age = value

    def say_hi(self) -> None:
        print(f"{self.name} says hi")

s6 = Student("Jalle", 15, True)
s6.say_hi()

Jalle says hi

In [40]:
help(Student)

Help on class Student in module __main__:

class Student(builtins.object)
 |  Student(name: str, age: int, active: bool) -> None
 |
 |  Methods defined here:
 |
 |  __init__(self, name: str, age: int, active: bool) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  say_hi(self)
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  name
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  age
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  number_students = 1