# Python repetition

In [3]:
# uv pip install 
print("hej")

hej

In [5]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [6]:
type(school)

str

In [7]:
len(school)

15

In [10]:
# comma, gives a tuple
school[0], school[-1]

('H', 'n')

In [14]:
school[:7], school[3:7] # slicing

('Handels', 'dels')

In [17]:
school[::-1] # reverse list

'nimedakaslednaH'

In [18]:
# concaternation + __add__() is implemented in str class 
"NBI-" + school

'NBI-Handelsakademin'

In [19]:
5+5

10

In [23]:
cool_list = ["fruit", 90, False, [1,2,3]]
cool_list

['fruit', 90, False, [1, 2, 3]]

In [26]:
cool_list = [True, True, False]

In [27]:
cool_list + list((True, True, False))

[True, True, False, True, True, False]

In [28]:
cool_list

[True, True, False]

In [29]:
x = []
for i in range(10):
    x.append(i)

In [30]:
x = [i for i in range(10)] # more pythonic code, list comprehension
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
range(10)

range(0, 10)

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
[i for i in range(10) if i % 2]

[1, 3, 5, 7, 9]

In [36]:
# mutated the list
x[5] = "222"
x

[0, 1, 2, 3, 4, '222', 6, 7, 8, 9]

In [37]:
my_tuple = (2,5,3)
my_tuple

(2, 5, 3)

In [38]:
my_tuple[1]

5

In [40]:
# tuples are inmutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

In [42]:
set((6,6,2,3,1))

{1, 2, 3, 6}

dict
+ key-value pairs

In [43]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [44]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)

In [45]:
for key in rabbit:
    print(key)

name
age
loves_hay

In [52]:
for key in rabbit:
    print(rabbit[key])

Bella
2.5
True

In [53]:
for key, value in rabbit.items():
    print(f"{key:<15} {value}")

name            Bella
age             2.5
loves_hay       True

functions

In [56]:
def squarer(number):
    return number**2

squarer(5)

25

In [58]:
tuple(squarer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [64]:
# variable amount of parameters
def my_avarage(*numbers):
    sum_ = 0 
    print(type(numbers))
    print(numbers)

my_avarage(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [67]:
# *args - "star args"
def my_avarage(*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)

my_avarage(1,2,3)

2.0

In [68]:
x[5] = 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
my_avarage(*x) # my_avarage(x[0], x[1], ...)

4.5

OOP

In [74]:
# defines a class (blueprint)
class Person:
    # dunder init 
    def __init__(self, name, age) -> None:
        self.name = name # attribute
        self.age = age

# instantiates an instance from the class Person with arguments
p1 = Person("Jalle", 2)
p1 

# dunder repr: __repr__()

In [ ]:
hex(id(p1))